@import '../../4-dom/hide-scrollbar.scss';

aside {
  display: flex;
  background-color: #212122;
  transition: width 0.5s ease-in-out;
}

.gist-list {
  @include hide-scrollbar();
  // @include shadow-on-scroll(vertical, #212122, rgba(255, 255, 255, 0.2), 3px);

  flex: 1;
  overflow-y: auto;

  --padding: 16px;
  --files-padding: 16px;

  &--empty {
    padding-left: var(--padding);
  }
}

.filter {
  display: flex;
  align-items: center;
  padding-left: var(--padding);
  height: var(--tabs-height);

  input {
    flex: 1;
    height: var(--gist-item-height);
    line-height: var(--gist-item-height);
  }
}
