@import '../0-dom/color-scheme.scss';
@import '../0-dom/fit-parent.scss';
@import '../0-dom/responsive.scss';

body {
  background-color: black;
  height: 100vh;
}

#app-container {
  color: var(--fg-color);
  background-color: var(--bg-color);
  width: 100vw;
  height: 100vh;

  &.is-virtual-keyboard-open .mobile-fallback {
    height: 50%;
  }

  --animation-speed: 0.25s;
  --group-border-width: 2px;
  --status-line-width: var(--group-border-width);
  --status-line-color: transparent;

  @include mobile {
    --sidebar-font-size: 1rem;
    --sidebar-gap: 0.5rem;
  }

  @include desktop {
    --sidebar-font-size: 0.9rem;
    --sidebar-gap: 0.4rem;
  }

  @include light {
    // --fg-color: #404040;
    --fg-color: red;
    --bg-color: red;
    --bg-color-sidebar: red;
  }

  @include dark {
    $fg: #c4c4c4;
    $bg: #1c1c1c;
    $border: #343637;
    $primary: #669bd1;
    $secondary: #f2f230;
    // $secondary: #d16014;
    // $secondary: #c9866e;

    --fg-color: #{$fg};
    --fg-color-active: #{adjust-color($fg, $lightness: 100%)};

    --bg-color: #{$bg};
    --bg-color-sidebar: #{adjust-color($bg, $lightness: 2%)};
    --bg-color-control: #{adjust-color($bg, $lightness: -2%)};
    --bg-color-hover: #{adjust-color($bg, $lightness: 10%)};
    --border-color: #{$border};

    --bg-color-active: #{adjust-color($primary, $lightness: -20%)};
    --border-color-active: #{adjust-color($primary, $lightness: 0%)};

    --note-item-color: #{adjust-color($bg, $lightness: 2%)};
    --favorite-color: #{$secondary};

    --group-color: var(--bg-color-sidebar);
    --group-active-color: #{adjust-color($primary, $lightness: -30%)};
    --group-border-color: #{adjust-color($secondary, $lightness: -30%)};
  }
}

.app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  font-family: Arial, Helvetica, sans-serif;

  display: grid;
  align-items: stretch;
  align-content: stretch;
  justify-items: stretch;
  grid-template-rows: minmax(0, 1fr);

  --gist-item-height: 28px;

  @include mobile {
    grid-template-columns: 100vw;

    &.page-home {
      grid-template-areas: 'list';
    }

    &.page-note {
      grid-template-areas: 'editor';

      > aside {
        display: none;
      }
    }
  }

  @include desktop {
    &:not(.page-home) {
      --sidebar-width: calc(
        calc(var(--setting-sidebarWidth, 400) * var(--setting-sidebarVisible)) *
          1px
      );
    }

    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-areas: 'list editor';
  }

  > main {
    grid-area: editor;
  }
}
