.editor {
  flex: 1;
}

.tabs {
  display: flex;
  margin-bottom: 0;
  color: #8b8b8b;
  background-color: #252526;

  --tab-padding-h: 12px;
  --tab-padding-v: 16px;

  .back-button,
  .new-file {
    color: #8b8b8b;
    padding: 0 20px;
  }

  .back-button,
  .new-file,
  .remove {
    opacity: 0.7;
    transition: opacity 0.25s ease-out;

    &:hover {
      opacity: 1;
    }
  }

  button,
  .file-tab {
    vertical-align: middle;
    height: var(--tabs-height);
    line-height: var(--tabs-height);
  }
}

.file-tab {
  background: #2d2d2d;
  margin-right: 1px;
  padding: 0;
  height: var(--tabs-height);
  line-height: var(--tabs-height);
  font-size: var(--tabs-font-size);

  &.active {
    background-color: #1c1c1c;
    color: #ffffff;
  }

  .remove {
    padding-right: calc(var(--tab-padding-v) - 4px);
  }
}

.tab-name {
  text-align: center;
  padding: var(--tab-padding-h) 0px var(--tab-padding-h) var(--tab-padding-v);
  border: 1px solid transparent;

  &[contenteditable='true'] {
    border-color: #0071d2;
    cursor: text;
    padding-right: var(--tab-padding-v);

    & + .remove {
      display: none;
    }
  }
}

.spacer {
  flex: 1;
}

.external-link {
  color: white;
  font-size: 1.5em;
  padding: 0 12px;
  cursor: pointer;
  height: var(--tabs-height);
  line-height: var(--tabs-height);
}
