.file-tab {
  background: #2d2d2d;
  margin-right: 1px;

  &.active {
    background-color: #1c1c1c;
    color: #ffffff;
  }

  .remove {
    padding-left: calc(var(--tab-padding-h) + 4px);
  }
}

.tab-name {
  padding: var(--tab-padding-h) 0px var(--tab-padding-h) var(--tab-padding-v);
  border: 1px solid transparent;

  &[contenteditable='true'] {
    cursor: text;
    outline: none;
    border-color: #0071d2;
    padding-right: var(--tab-padding-v);

    & + .remove {
      display: none;
    }
  }
}
