.file-tab {
  background: #2d2d2d;
  margin-right: 1px;

  &.active {
    background-color: #1c1c1c;
    color: #ffffff;
  }

  &--remove .action--icon {
    margin-top: 1px;
  }

  &--tab-name {
    padding: var(--tab-padding-h) 0px var(--tab-padding-h) var(--tab-padding-v);

    &.editing {
      padding-right: var(--tab-padding-v);

      & + .file-tab--remove {
        display: none;
      }
    }
  }
}
