.editor {
  flex: 1;
}

.tabs {
  margin-bottom: 0;
  background-color: #252526;

  button {
    appearance: none;
    border: none;
    background: #2d2d2d;
    color: #8b8b8b;
    vertical-align: middle;
    margin-right: 1px;
    padding: 0 24px;
    height: var(--tabs-height);
    line-height: var(--tabs-height);
    font-size: var(--tabs-font-size);

    &:focus {
      outline: none;
    }

    &.active {
      background-color: #1c1c1c;
      color: #ffffff;
    }
  }
}

.spacer {
  flex: 1;
}
