.gist-list {
  flex: 1;
  display: block;
  background-color: #212122;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  list-style: none;
  padding-top: 8px;

  --padding: 16px;
  --files-padding: 8px;
  --row-height: 28px;
}

.gist-item {
  display: flex;
  flex-direction: column;

  &.one-file {
    flex-direction: row;

    .file-item {
      padding-left: var(--files-padding);
      padding-right: var(--files-padding);
    }

    > h4 {
      padding-right: var(--files-padding);
    }
  }

  > h4 {
    height: var(--row-height);
    line-height: var(--row-height);
    padding-left: var(--padding);
  }
}

.file-list {
  list-style: none;
}

.file-item {
  height: var(--row-height);
  line-height: var(--row-height);
  padding-left: calc(var(--padding) + var(--files-padding));

  a {
    display: block;
    color: #939395;
    text-decoration: none;
  }

  &:hover {
    background-color: #252829;
  }
}
