aside {
  display: flex;
  background-color: #212122;
  transition: width 0.5s ease-in-out;
}

.gist-list {
  flex: 1;
  overflow-y: auto;
  padding-top: 8px;

  --padding: 16px;
  --files-padding: 8px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.filter {
  display: flex;
  padding-left: var(--padding);
  padding-right: var(--padding);

  input {
    flex: 1;
    height: var(--gist-item-height);
    line-height: var(--gist-item-height);
  }
}
