@import '../../dom/ellipsis.scss';
@import '../../dom/fit-parent.scss';

.gist-item {
  display: flex;
  flex-direction: column;
  line-height: var(--gist-item-height);
  --font-color: #939395;

  &--title {
    @include ellipsis();
    height: var(--gist-item-height);
    padding-left: var(--padding);
    color: #c7c7c7;
  }

  &--file-item {
    height: var(--gist-item-height);
    color: var(--font-color);
    overflow: hidden;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    --border-radius: 3px;

    &:hover {
      background-color: #252829;
    }
  }

  &--link {
    display: block;
    text-decoration: none;

    &,
    &:active,
    &:visited {
      color: inherit;
    }
  }

  &--file {
    display: block;
    color: var(--font-color);
    padding-left: calc(var(--padding) + var(--files-padding));
    height: var(--gist-item-height);
    --corner-gap: 0;
  }

  &.one-file {
    flex-direction: row;
    white-space: nowrap;
  }

  &.one-file &--title {
    padding-right: calc(var(--files-padding) / 2);
    max-width: 50%;
  }

  &.one-file &--file-list {
    @include fit-parent();
    display: flex;
  }

  &.one-file &--file-item {
    @include fit-parent();
    border-radius: var(--border-radius);
  }

  &.one-file &--link {
    @include ellipsis();
  }

  &.one-file &--file {
    padding-left: calc(var(--files-padding) / 2);
    padding-right: var(--files-padding);
  }
}
