@import '../../dom/ellipsis.scss';
@import '../../dom/fit-parent.scss';

.gist-item {
  line-height: calc(var(--gist-item-height) - 2px);
  --border-radius: 3px;

  &--title {
    @include ellipsis();
    padding-left: var(--padding);
  }

  &--link {
    overflow: hidden;

    &:hover {
      background-color: #252829;
    }
  }

  &--file {
    @include ellipsis();
  }

  // FIXME: These selectors suck, fix Action selectors

  &--actions .action.has-icon:not(.square) {
    display: none;
    padding: 0;
    --size: var(--gist-item-height);
  }

  &:hover &--actions .action.has-icon,
  &.starred &--actions &--star {
    display: block;
  }
}

.gist-item.single-file {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  height: var(--gist-item-height);

  .gist-item {
    &--title {
      flex-shrink: 0;
      max-width: 60%;
      padding-right: calc(var(--files-padding) / 2);
    }

    &--link {
      @include fit-parent();
      border-radius: var(--border-radius);
    }

    &--file {
      padding-left: calc(var(--files-padding) / 2);
      padding-top: 1px;
    }
  }
}

.gist-item.multiple-files {
  .gist-item {
    &--header {
      display: flex;
      flex-direction: row;
    }

    &--title {
      flex: 1;
    }

    &--link {
      border-radius: 0 var(--border-radius) var(--border-radius) 0;
    }

    &--file {
      padding-left: calc(var(--padding) + var(--files-padding));
    }
  }
}
