@import '../../util/fit-parent.scss';

.gist-item {
  display: flex;
  flex-direction: column;
  line-height: var(--gist-item-height);
  --font-color: #939395;

  &--title {
    height: var(--gist-item-height);
    padding-left: var(--padding);
    color: #c7c7c7;
  }

  &--file-item {
    height: var(--gist-item-height);
    padding-left: calc(var(--padding) + var(--files-padding));
    border-radius: 3px;
    color: var(--font-color);

    &:hover {
      background-color: #252829;
    }
  }

  &--link {
    display: block;
    text-decoration: none;

    &,
    &:active,
    &:visited {
      color: inherit;
    }
  }

  &--file {
    color: var(--font-color);
  }

  &.one-file {
    flex-direction: row;
    white-space: nowrap;
  }

  &.one-file &--title {
    padding-right: calc(var(--files-padding) / 2);
  }

  &.one-file &--file-list {
    @include fit-parent();
    display: flex;
  }

  &.one-file &--file-item {
    @include fit-parent();
    padding-left: calc(var(--files-padding) / 2);
    padding-right: var(--files-padding);
  }

  &.one-file &--link {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
