@mixin center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@mixin disable-action() {
  cursor: not-allowed;

  .action--trigger {
    opacity: 0.8;
    pointer-events: none;
  }
}

.action {
  &:not(.disabled) {
    cursor: pointer;
  }

  &:not(.disabled) &--trigger {
    &:hover {
      opacity: 1;
    }

    &:active {
      transition-duration: 0.1s;
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  &:not(.disabled).has-icon &--trigger {
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &:active {
      transform: scale(0.8);
    }
  }

  &.has-icon:not(.square) {
    padding: 4px;

    .action--trigger {
      border-radius: 100%;
    }
  }

  &.has-icon {
    @include center();
    --size: 42px;
    width: var(--size);
    height: var(--size);
  }

  &.has-icon &--trigger {
    @include center();
  }

  &--icon {
    opacity: 0.8;
    color: white;
  }

  &--trigger {
    display: block;

    width: 100%;
    height: 100%;
    padding: 0;

    opacity: 0.8;
    text-decoration: none;

    transform: scale(1);
    transform-origin: center center;
    transition: opacity 0.1s, transform 0.1s, background-color 0.25s;
  }
}
