@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(2520deg);
  }
}

.business-indicator {
  position: fixed;
  bottom: 8px;
  right: 24px;
  width: 32px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.3rem;

  &--icon {
    color: #6060f891;
    padding-top: 1px;

    animation-name: rotate;
    animation-duration: 6s;
    animation-timing-function: cubic-bezier(0.43, 0.84, 0.61, 0.14);
    animation-iteration-count: infinite;
  }
}
