@import '../../0-dom/hide-scrollbar.scss';
@import '../../0-dom/theme.scss';

aside {
  display: flex;
  flex-direction: column;
  background-color: #282a2c;
  transition: width 0.5s ease-in-out;
  max-height: 100%;
}

.filter {
  display: flex;
  align-items: center;
  padding: 0.4rem 0.5rem;
  gap: 0.5rem;
  border-bottom: 1px solid #3e4245;

  input {
    flex: 1;
    background-color: #181a1b;
    border: 1px solid #3e4245;
    border-radius: 0.3rem;
    padding: 0.5rem;

    @include light {
      color: black;
    }

    @include dark {
      color: white;
    }
  }
}

.notes-list {
  @include hide-scrollbar();

  flex: 1;
  overflow-y: auto;

  &:empty {
    border: 1px solid red;
  }
}
