.group {
  --status-line-color: var(--group-color);

  .group-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    padding-right: 1rem;
    cursor: default;
    background-color: var(--group-color);
    border-left: var(--status-line-width) solid transparent;
    border-top: var(--status-line-width) solid transparent;

    .group-name {
      flex: 1;
    }

    .counter {
      font-size: 0.8rem;
    }

    &::-webkit-details-marker,
    &::marker {
      display: none;
      content: '';
    }
  }

  .group-caret {
    transform: rotate(0);
    transform-origin: 50% 50%;
    transition: var(--animation-speed) transform ease;
  }

  &[open] {
    .group-title {
      border-color: var(--group-end-color);
    }

    .group-caret {
      transform: rotate(90deg);
    }

    .group-content {
      @keyframes details-show {
        from {
          opacity: 0;
          transform: var(--details-translate, translateY(-0.5em));
        }
      }

      animation: details-show var(--animation-speed) ease-in-out;
    }
  }

  .group-content {
    border-left: var(--status-line-width) solid var(--group-end-color);
    border-bottom: var(--status-line-width) solid var(--group-end-color);
  }

  .note-item {
    margin-left: calc(var(--status-line-width) * -1);
    --status-line-color: var(--group-end-color);

    &.active {
      --status-line-color: var(--border-color-active);
    }
  }
}
