@import '../../0-dom/hide-scrollbar.scss';

aside {
  grid-area: list;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-sidebar);
  transition: width 0.5s ease-in-out;
  max-height: 100%;
}

.filter {
  --spacing: calc(var(--sidebar-gap) * 1.5);

  display: flex;
  align-items: center;
  padding: var(--spacing);
  gap: var(--spacing);
  border-bottom: 1px solid var(--border-color);

  input {
    flex: 1;
    background-color: var(--bg-color-control);
    border: 1px solid var(--border-color);
    color: var(--fg-color);
    padding: var(--spacing);

    &:focus {
      border-color: var(--border-color-active);
    }
  }
}

.notes-list {
  @include hide-scrollbar();

  flex: 1;
  overflow-y: auto;
  font-size: var(--sidebar-font-size);

  &:empty {
    position: relative;

    &::after {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      content: 'Empty';
      opacity: 0.7;
      inset: 0;
    }
  }

  &[data-filter]:empty::after {
    content: 'No results';
  }
}
