.group {
  --status-line-color: var(--group-color);

  &:hover .group-title {
    background-color: var(--bg-color-hover);
  }

  &.active .group-title {
    background-color: var(--group-active-color);
  }

  .group-title {
    display: flex;
    align-items: center;
    gap: var(--sidebar-gap);
    padding: var(--sidebar-gap);
    padding-right: calc(var(--sidebar-gap) * 2);
    cursor: default;
    background-color: var(--group-color);
    border-left: var(--group-border-width) solid transparent;
    border-top: var(--group-border-width) solid transparent;

    .group-name {
      flex: 1;
    }

    .counter {
      font-size: 0.8rem;
    }

    &::-webkit-details-marker,
    &::marker {
      display: none;
      content: '';
    }
  }

  .group-caret {
    transform: rotate(0);
    transform-origin: 50% 50%;
    transition: var(--animation-speed) transform ease;
  }

  &[open] {
    .group-title {
      border-color: var(--group-border-color);
    }

    .group-caret {
      transform: rotate(90deg);
    }

    .group-content {
      @keyframes details-show {
        from {
          opacity: 0;
          transform: var(--details-translate, translateY(-0.5em));
        }
      }

      animation: details-show var(--animation-speed) ease-in-out;
    }
  }

  .group-content {
    border-left: var(--group-border-width) solid var(--group-border-color);
    border-bottom: var(--group-border-width) solid var(--group-border-color);
  }

  .note-item {
    &:not(.active) {
      --status-line-width: 0;
    }

    &.active {
      margin-left: calc(var(--status-line-width) * -1);
      --status-line-color: var(--border-color-active);
    }
  }

  &[open] {
    & + & .group-title {
      border-top-width: 0;
    }
  }
}
