@import '../../0-dom/hide-scrollbar.scss';
@import '../../0-dom/theme.scss';

aside {
  display: flex;
  flex-direction: column;
  background-color: #212122;
  transition: width 0.5s ease-in-out;
  max-height: 100%;
}

.filter {
  --spacing: 0.6rem;

  display: flex;
  align-items: center;
  padding: var(--spacing);
  gap: var(--spacing);
  border-bottom: 1px solid var(--border-color);

  input {
    flex: 1;
    background-color: var(--bg-color-control);
    border: 1px solid var(--border-color);
    color: var(--fg-color);
    padding: var(--spacing);
    font-size: 1.1rem;
    // border-radius: 0.3rem;

    &:focus {
      border-color: var(--border-color-active);
    }
  }
}

.notes-list {
  @include hide-scrollbar();

  --status-line-width: 5px;
  --status-line-color: transparent;

  flex: 1;
  overflow-y: auto;

  &:empty {
    position: relative;

    &::after {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      content: 'No results';
      opacity: 0.7;
      inset: 0;
    }
  }
}

// .note-item,
// .group {
//   & + & {
//     border-top: 1px solid var(--border-color);
//   }
// }
